.layout {
  height: 100vh;
  width: 100%;
  color: white;
}
.row--second {
  height: 10%;
  width: 100%;
  background-color: #1b1a1a;
}
.row--main {
  height: 90%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  .col--first {
    width: 14%;
    height: 100%;
    background-color: #1b1a1a;
    transition-duration: 400ms;
    @media (max-width: 1076px) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 40%;
      height: 100vh;
      z-index: 10;
    }
  }
  .col--second {
    width: 86%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .row--inner-first {
      height: 45%;
      width: 100%;
      background-color: white;
      color: black;
    }
    .row--inner-second {
      height: 55%;
      width: 100%;
      background-color: #1b1a1a;
      overflow-y: auto;
    }
    @media (max-width: 1076px) {
      width: 100%;
    }
  }
}
.sidebar--open {
  left: 0 !important;
}
